---
// Define props for the component
const {
  bgColor = 'bg-gray-800', // default background color
  logoUrl = '', // default logo URL
  logoAlt = '', // default alt text for the logo
  quoteText = '', // default quote text
  authorImageUrl = '', // default author image URL
  authorImageAlt = '', // default alt text for the author image
  authorName = '', // default author name
  authorDate = '', // default date text
} = Astro.props
---

<section class={`${bgColor} rounded-lg overflow-hidden`}>
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="px-6 py-12 md:flex md:flex-col">
      <div class="md:flex-shrink-0">
        <img class="h-12" src={logoUrl} alt={logoAlt} />
      </div>
      <blockquote class="mt-6 md:flex-grow">
        <div class="relative text-lg font-medium text-white">
          <svg
            class="absolute top-0 left-0 w-8 h-8 -translate-x-3 -translate-y-2 transform text-mint-green-800"
            fill="currentColor"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path
              d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
            ></path>
          </svg>
          <p class="relative">{quoteText}</p>
        </div>
        <footer class="mt-8">
          <div class="flex items-start">
            <div class="flex-shrink-0 p-2 bg-gray-900 rounded-full">
              <img class="w-8 h-8 rounded-full" src={authorImageUrl} alt={authorImageAlt} />
            </div>
            <div class="ml-4">
              <div class="text-base font-medium text-white">{authorName}</div>
              <div class="text-base font-medium text-mint-green-800">
                {authorDate}
              </div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
